body {
  background: linear-gradient(135deg, #141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
  color: white;
}

.app {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  background: #4caf50;
  color: white;
  cursor: pointer;
}

.options {
  text-align: left;
  margin-bottom: 10px;
}

#forca {
  margin-top: 10px;
  font-weight: bold;
}
